.title1 {
  font-family: "DejaVu Sans Mono", Roboto, monospace;
  font-weight: bolder;
}

.title2 {
  font-family: monospace;
  font-weight: lighter;
  float: right;
}

.tab1 {
  font-weight: bold;
  font-family: "DejaVu Sans Mono", monospace;
}
